body{
    margin: 0;
    background-color: #0c5861ea;
}
.main-content{
    padding: 20px;
    margin: 40px;
    border: .5px solid white;
    border-radius: 24px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
}
.outer{
    height: 160px;
    width: 250px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    margin: 20px;
}
.inner-circle{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: absolute;
    background:white;
    border: 5px solid #0c5861ea;
    margin-left: -15px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #0c5861ea;
    margin-bottom: 0;
    z-index: 10;
}
h2{
    margin: 0;
    align-self: center;
}
.inner-circle2{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    position: absolute;
    background-color: white;
    z-index: 5;
    margin-left: -5px;
}
.header{
    width: 180px;
    height: 50px;
    position: relative;
    background-color: #043f46ea;
    z-index: 2;
    border-top-right-radius: 24px;
    margin: 5px;
    margin-left: 40px;
    display: flex;
    color: white;
}
h4{
    margin: 0;
    margin-left: 18px;
    align-self: center;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
.footer > .heading{
    color: #043f46ea;
    align-self: flex-start;
}
.footer > .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.left{
    color: #043f46ea;
    align-self: flex-start;
}
.middle{
    display: flex;
    justify-content: space-around;
}
.middle-left{
    align-self: flex-start;
}
th{
    text-align: left;
}
tr{
    padding: 20px;
}
.middle-middle{
    align-self: flex-start;
}
button{
    padding: 0px;
    width: 120px;
    height: 50px;
    margin: 0 10px;
    background-color: #043f46ea;
    color: white;
    outline-color: #043f46ea;
    border-color: #043f46ea;
    box-shadow: 0;
}
.right{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.right-top{
    display: flex;
    justify-content: flex-start;
}
.right-bottom{
    display: flex;
    justify-content: space-around;
    
}
img{
    max-width: 120px;
    max-height: 50px;
    align-self: flex-end;
}
/* button{
    padding: 0px;
    width: 120px;
    height: 50px;
    margin: 0 10px;
    background-color: #043f46ea;
    color: white;
    outline-color: #043f46ea;
    border-color: #043f46ea;
    box-shadow: 0;
} */

